<div id="component">
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <main id="main"><br>
        <table class="table table-sm" *ngIf="prod">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td><input [(ngModel)]="prod.id" type="number" disabled></td>
                </tr><tr>
                    <th>Part Number</th>
                    <td><input [(ngModel)]="prod.partNbr" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Name</th>
                    <td><input [(ngModel)]="prod.name" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Unit</th>
                    <td><input [(ngModel)]="prod.unit" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Price</th>
                    <td><input [(ngModel)]="prod.price" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Photo Path</th>
                    <td><input [(ngModel)]="prod.photoPath" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Vendor</th>
                    <td>
                        <select name="vendors" id="vendors">
                            <option *ngFor="let v of vendor" value="vend">{{v.name}}</option>
                            <option value="vend2">{{prod.vendor.name}}</option>
                        </select>
                    </td>
            </tbody>
        </table>
        <table class="table table-sm">
            <tr>
                <th></th>
                <td id="tdButton">
                    <button id="updateBtn" (click)="update()" class="btn btn-info">Update Product</button>
                </td>
            </tr>
     </table>
    </main>
</div>




