<div id="component">
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <table style="width: 90%">
        <td id="sBar"><input id="searchBar" [(ngModel)]="searchCrit" placeholder="user only search (lower)" ></td>
        </table>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th><button id="sortBtn" (click)="sortBy('id')" class="btn btn-link">Id</button></th>
                    <th><button id="sortBtn" (click)="sortBy('description')" class="btn btn-link">Description</button></th>
                    <th><button id="sortBtn" (click)="sortBy('justification')" class="btn btn-link">Justification</button></th>
                    <th><button id="sortBtn" (click)="sortBy('status')" class="btn btn-link">Status</button></th>
                    <th><button id="sortBtn" (click)="sortBy('total')" class="btn btn-link">Total</button></th>
                    <th><button id="sortBtn" (click)="sortBy('user')" class="btn btn-link">User</button></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="req">
                <tr *ngFor="let r of req | sort:sortColumn:sortAsc | requestSearch:searchCrit">
                    <td>{{r.id}}</td>
                    <td>{{r.description}}</td>
                    <td>{{r.justification}}</td>
                    <td>{{r.status}}</td>
                    <td>{{r.total|currency}}</td>
                    <td>{{r.user.username}}</td>
                    <td><a id="reviewBtn" routerLink="/request/reviews/{{r.id}}">Review</a></td>
                </tr>
            </tbody>
        </table>
</div>







