<div id="component">
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <table style="width: 90%">
        <th id="cnBtn"><a *ngIf="admin.isAdmin" id="createnew" routerLink="/product/create">-> Create New Product <-</a></th>
        <td id="sBar"><input id="searchBar" [(ngModel)]="searchCrit" placeholder="search (lowercase)" ></td>
        </table>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th><button id="sortBtn" (click)="sortBy('id')" class="btn btn-link">Id&nbsp;&nbsp;&nbsp;</button></th>
                    <th><button id="sortBtn" (click)="sortBy('partNbr')" class="btn btn-link">Part Number</button></th>
                    <th><button id="sortBtn" (click)="sortBy('name')" class="btn btn-link">Name</button></th>
                    <th><button id="sortBtn" (click)="sortBy('price')" class="btn btn-link">Price</button></th>
                    <th><button id="sortBtn" (click)="sortBy('unit')" class="btn btn-link">Unit&nbsp;&nbsp;&nbsp;&nbsp;</button></th>
                    <!-- <th>PhotoPath</th> -->
                    <th><button id="sortBtn" (click)="sortBy('vendor.name')" class="btn btn-link">Vendor</button></th>
                    <th class="text-center">Product Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of prod | productSearch:searchCrit | sort:sortColumn:sortAsc">
                    <td>{{p.id}}</td>
                    <td>{{p.partNbr}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price|currency}}</td>
                    <td>{{p.unit}}</td>
                    <!-- <td>{{p.photoPath}}</td> -->
                    <td>{{p.vendor.name}}</td>
                    <td class="text-center">
                        <a id="actions" routerLink="/product/detail/{{p.id}}">Product Details </a>
                        <span *ngIf="admin.isAdmin"> &nbsp;|&nbsp;
                        <a id="actions" routerLink="/product/change/{{p.id}}">Edit Product</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
   <!-- <div *ngIf="admin.isAdmin" id="cnBtn">
        <span><a id="createnew" routerLink="/product/create">-> Create New Product <-</a></span>
    </div> -->
</div>


