nav { 
    background-color: rgb(42, 165, 165); /* had 211, 247, 247 || way prior = rgb(169, 233, 233) then later (211, 238, 238) */
    margin-top: 40px;
} 
    ul { 
    padding-left: 5px; 
    margin: 20px 0; 
    
}
#nonMenu{
    display: inline-block;  
    text-align: left;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
 
}

#username{
    display: inline-block;
    width: 20%;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    /*
    text-align: justify;
    direction: rtl;
    */
}