<div>
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <br>
    <h6>The Capstone (PRS) Purchase Request System by Josh Scott</h6><br>
    <p id="ptop"><span>Hello! My name is Josh Scott and I Thank you for visiting my PRS project.</span><br>
        I hope you enjoyed browsing the system, the functionality, and the design.
    </p>
    <br>
    <p id="pbody"><span>
        I personally wrote every single line of code and designed every element you see, even though the design is a little bit basic. 
        &nbsp;This was designed and built during the maximum coding bootcamp at Max Technical Training.
        &nbsp;I think this shows my excitement for creating and building projects. 
        &nbsp;I've always enjoyed working on projects in my spare time, 
        but often found myself lacking the full knowledge to complete the functionality I desired. 
        &nbsp;After taking this bootcamp I made a big step towards being able to create these projects.
    </span> 
    </p>
    <p id="pbody1">    
        &nbsp;I still have a lot to learn, but this is the beginning of an exciting journey.
    </p> 
</div>
