h6{
    text-align: center;
}

#ptop{
    word-wrap: normal;
    text-align: center;
}
#pbody{
    word-wrap: normal;
    text-align: left;
    margin-left: 100px;
    margin-right: 200px;
}
#pbody1{
    word-wrap: normal;
    text-align: center;

}