<div>
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <br>
    <h6>The Capstone (PRS) Purchase Request System by Josh Scott</h6><br>
    <p id="ptop"><span>Hello! and Thank you for visiting my PRS project.</span><br>
        I hope you enjoyed browsing the system, the functionality, and the design.
    </p>
    <br>
    <p id="pbody"><span>
        I personally wrote every single line of code and designed every element you see, even though the design is a tiny bit basic. 
        &nbsp;I think this shows my excitement for creating and building projects.
        
        &nbsp;I've always enjoyed working on projects in my spare time, but lacked the breadth of knowledge to complete the functionality 
        I desired for my projects. &nbsp;After taking this bootcamp I made a big step towards being able to craft these projects. &nbsp;I still
        have a lot to learn, but this is the beginning of an exciting journey. 
        </span> 
    </p>
</div>
