<div id="component">
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <table style="width: 90%">
    <th id="cnBtn"><a *ngIf="admin.isAdmin" id="createnew" routerLink="/user/create">-> Create New User <-</a></th>
    <th id="cnBtn"><a *ngIf="admin.username === 'Guest'" id="createnew" >-> Create New User <-</a></th>
    <td id="sBar"><input id="searchBar" [(ngModel)]="searchCrit" placeholder="search (lowercase)" ></td>
    </table>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th><button id="sortBtn" (click)="sortBy('id')" class="btn btn-link">Id</button></th>
                    <th><button id="sortBtn" (click)="sortBy('lastname')" class="btn btn-link">Last Name</button></th>
                    <th><button id="sortBtn" (click)="sortBy('firstname')" class="btn btn-link">First Name</button></th>
                    <th><button id="sortBtn" (click)="sortBy('username')" class="btn btn-link">Username</button></th>
                    <th><button id="sortBtn" (click)="sortBy('phone')" class="btn btn-link">Phone</button></th>
                    <th><button id="sortBtn" (click)="sortBy('email')" class="btn btn-link">Email</button></th>
                    <th><button id="sortBtn" (click)="sortBy('isReviewer')" class="btn btn-link">Reviewer</button></th>
                    <th><button id="sortBtn" (click)="sortBy('isAdmin')" class="btn btn-link">Admin</button></th>
                    <th class="text-center">User Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users | userSearch:searchCrit | sort:sortColumn:sortAsc">
                    <td>{{u.id}}</td>
                    <td>{{u.lastname}}</td>
                    <td>{{u.firstname}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.phone}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.isReviewer|boolDisp}}</td>
                    <td>{{u.isAdmin|boolDisp}}</td>
                    <td class="text-center">
                        <a id="actions" routerLink="/user/detail/{{u.id}}">User Details </a>
                        <span *ngIf="admin.isAdmin">
                            &nbsp;|&nbsp;
                            <a id="actions" routerLink="/user/change/{{u.id}}">Edit User</a>
                        </span>
                        <span *ngIf="admin.username === 'Guest'">
                            &nbsp;|&nbsp;
                            <a id="actions"  disabled>Edit User</a>
                        </span>
                        </td>
            </tbody>
        </table>
        <br>
        <p>
            *Please note: Logging in as Guest will disable the Edit buttons & Create new buttons.
        </p><br>
        <p id="userlistinfo">
            *I created a Pipe that allows you to sort by any of the columns. &nbsp;Simply click the column header.<br>
            **Go on.. dont be scared.. give it a try!**
        </p>
        <p>
            *And created a search feature that allows you to search for specific users or vendors, etc. &nbsp;It updates as you type.
        </p>

        <!--
        <div id="cnBtn">
            <span><a *ngIf="admin.isAdmin" id="createnew" routerLink="/user/create">-> Create New User <-</a></span>
        </div>
        -->
</div>
