<div id="component">
    <prs-head [pageTitle]="pageTitle"></prs-head>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Reviewer</th>
                    <th>Admin</th>
                    <th class="text-center">User Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td id="maintable" >{{u.id}}</td>
                    <td id="maintable" >{{u.lastname}}</td>
                    <td id="maintable" >{{u.firstname}}</td>
                    <td id="maintable" >{{u.username}}</td>
                    <td id="maintable" >{{u.phone}}</td>
                    <td id="maintable" >{{u.email}}</td>
                    <td id="maintable" >{{u.isReviewer|boolDisp}}</td>
                    <td id="maintable" >{{u.isAdmin|boolDisp}}</td>
                    <td id="maintable" class="text-center">
                        <a id="actions" routerLink="/user/detail/{{u.id}}">User Details </a> &nbsp;|&nbsp;
                        <a id="actions" routerLink="/user/change/{{u.id}}">Edit User</a>
                    </td>
                </tr>
            </tbody>
        </table>
    <table style="padding-left: 10px;">
    
        <td  id="createnew" class="align-middle"><a id="createnew" routerLink="/user/create">-> Create New User <-</a></td>
    
    </table>
</div>
