li { 
    display: inline-block;  
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a{ 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 0 20px; 
    
}
a:hover{ 
    color: rgb(29, 214, 214); /*had this at rgb(3, 150, 150) */
    /*background-color: rgb(5, 114, 114); /* had it at rgb(5, 114, 114); */
    
}