<div id="component">
    <prs-head [pageTitle]="pageTitle"></prs-head>
    <main id="main"><br>
        <table class="table table-sm" *ngIf="user">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td><input [(ngModel)]="user.id" type="number" disabled></td>
                </tr><tr>
                    <th>Last Name</th>
                    <td><input [(ngModel)]="user.lastname" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>First Name</th>
                    <td><input [(ngModel)]="user.firstname" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Username</th>
                    <td><input [(ngModel)]="user.username" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Phone</th>
                    <td><input [(ngModel)]="user.phone" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Email</th>
                    <td><input [(ngModel)]="user.email" [disabled]="DetailPage" size="25"></td>
                </tr><tr>
                    <th>Reviewer</th>
                    <td><input [(ngModel)]="user.isReviewer" type="checkbox" [disabled]="DetailPage"></td>
                </tr><tr>
                    <th>Admin</th>
                    <td><input [(ngModel)]="user.isAdmin" type="checkbox" [disabled]="DetailPage"></td>
                </tr><tr>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm">
                <tr>
                    <th></th>
                    <td id="tdButton">
                        <button id="createBtn" (click)="create()" class="btn btn-info">Create New User</button>
                    </td>
                </tr>
         </table>
    </main>
</div>

