<div class="login">
    <form>
        <h3 id="loginHeader">-- PRS User Login --</h3><br>
        <span id="username">Username:&nbsp;&nbsp;</span><br>
        <input [(ngModel)]="username" placeholder="" name="username" size="30"><br>
        <span id="password">Password: &nbsp;&nbsp; </span><br>
        <input [(ngModel)]="password" type="password" placeholder="" name="password" size="30">
        <br><br>
        <!-- <button (click)="login()" id="loginbtn" class="btn btn-primary">
            &nbsp;&nbsp;&nbsp;&nbsp;User Login&nbsp;&nbsp;&nbsp;&nbsp;</button> -->
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <td>
                        <button (click)="login()" class="btn btn-info" id="loginbtn">User Login</button>
                    </td>
                </tr>
         </table>
         <div>
            <p id="logininfo">
                **The user login prevents unauthorized access to the system and allows purchase requests to be logged
                under the username that is logged into the system.  It also checks for the appropriate access to 
                higher level options like approving requests and admin access to add or delete users, vendors, 
                purchase requests, etc.
               <br><span>_________________________________________________</span>
            </p>
            <p id="guestinfo">
                You may use the guest login to browse the application.  If you would like to interact with more
                advanced features, please reach out and I will provide upon request.
            </p>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <td>
                        <button (click)="guestlogin()" class="btn btn-info" id="guestbtn">Guest Login</button>
                    </td>
                </tr>
            </table>
         </div>
         <br>
        <div id="loginMessage" class="text-danger h5">{{message}}</div>
        <div id="loginMessage" class="text-danger h5">{{message2}}</div>
    </form>
</div>


