.login{
    text-align: center;
    /*background-color: rgb(189, 223, 224);*/
    /*padding: 100px 100px 100px 0px;*/
    padding: 10% 0%;
}
#loginHeader{
    text-align: center;
    /*padding-left: 70px;*/
    font-family: 'Times New Roman', Times, serif;
    
}
#loginbtn{
    padding: 5px 50px;
    margin-right: 20px;
 
}
#username, #password{
    margin-right: 180px;
    font-style: italic;
    
    
}
#loginMessage{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}
#guestbtn{
    padding: 5px 70px;
    margin-top: 0px;
    margin-right: 20px;
 
}
#logininfo{
    text-align: center;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    /*margin-left: 375px;
    margin-right: 350px;*/
}
#guestinfo{
    text-align: center;
    margin-top: 5px;
    margin-left: 30%;
    margin-right: 30%;
}
